* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, #fff 0%, rgb(119, 242, 249) 100%);
    font-family: Arial, sans-serif;

}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #f9f9fc;
    padding-top: 5px;
    border-radius: 10px;
}

.app-bar {
    background-color: #3636d4;
    /* margin-top: 20px;*/
    border-radius: 5px;
}

.chat-bar {
    margin-right: 15px;
}

.main-grid {
    flex: 1;
    padding: 1rem;
}

.video-paper,
.chat-paper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;

}

.video-stream {
    width: 100%;
    /* height: 60%; */
    height: 42.5vh;
    background-color: #1e1a1a;
    border-radius: 8px;
    margin-bottom: 1rem;
    /* margin-bottom: -2rem; */
}

.controls {
    display: flex;
    gap: 1rem;
}

.chat-messages {
    width: 100%;
    height: 65vh;
    overflow-y: auto;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: #def1f5;
    margin-bottom: 1rem;
}

.chat-message {
    display: flex;
    margin-bottom: 5px;
}

.text-msg {
    padding: 5px;
}

.chat-message.own {
    justify-content: flex-end;
    padding: 0px 5px;
    /* background-color: #dcf8c6; */
}

.chat-message.partner {
    justify-content: flex-start;
    padding: 0px 5px;
    /* background-color: #f3f3f3; */

}

.message-input {

    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;

}

.end-call {
    display: flex;
    /* justify-content: center; */
    margin-left: -2rem;
    margin-top: 2rem;
}

.MuiSvgIcon-root {
    font-size: 2rem;
}

@media (max-width: 1200px) {

    .app-bar {
        margin-top: 0px;
        border-radius: 0px;
    }

    .app-container {
        height: 100%;
        padding-top: 0px;
        border-radius: 0px;
    }

    .end-call {
        justify-content: center;
        margin-top: 0rem;
    }

    .video-stream {
        margin-bottom: -2rem;
    }
}