body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    padding: 20px;
}


.title {
    margin-left: -90px;
    font-size: 50px;
    font-weight: bold;
    background-image: url(../../public/static/images/text_image_2.jpg);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.typescript {
    margin-left: 50px;
    font-size: 32px;
    font-weight: bolder;
    color: #4556c6;
    text-shadow: rgb(0, 89, 255);
}

.left-section {
    margin-top: 30px;
    flex: 2;
}

.right-section {
    margin-top: -80px;
    flex: 1;
    padding-left: 60px;
    margin-right: 200px;
}

.image-title {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-title img {
    margin-left: -100px;
    max-width: 150px;
    margin-bottom: 10px;
}

.auth-buttons {
    padding-top: 20px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

@media (max-width: 1100px) {
    .right-section .guest-login {
        width: 50%;
    }

    .right-section {
        padding: 0;
        padding-top: 120px;
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 40px;
    }

    .main-container {
        flex-direction: column;
        padding: 20px;
    }

    .typescript {
        margin-left: 25px;
        font-size: 25px;
    }

    .left-section {
        margin-bottom: 10px;
    }

    .right-section {
        position: absolute;
        padding: 0;
        padding-top: 400px;
        margin-right: 10px;
    }
}